:root
{
    --color_white: #FFF;

    --color_gray_50: #F7F8FA;
    --color_gray_100: #E6E8EB;
    --color_gray_200: #AFB2B1;
    --color_gray_500: #808080;
    --color_gray_800: #494D4B;

    --color_green_500: #04D361;

    --color_purple_300: #9F75FF;
    --color_purple_400: #9164FA;
    --color_purple_500: #8257E5;
    --color_purple_800: #6F48C9;
}