@import "./global.color.scss";
@import "./global.font.scss";

@media screen and (display-mode: fullscreen) and (max-width: 1440px)
{
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 1440px)
{
    html {
        // font-size: 93.75%;
        font-size: 87.5%;
    }
}

@media (max-width: 1080px)
{
    html {
        // font-size: 87.5%;
        font-size: 81.25%;
    }
}

@media (max-width: 720px)
{
    html {
        // font-size: 81.25%;
        font-size: 75%;
    }
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #__next
{
    width: 100%;
    height: 100%;
}

body
{
    display: inline-block;
    background-color: var(--color_gray_50);
}

body, input, textarea, button
{
    font: var(--font_text);
    color: var(--color_gray_500);
}

h1, h2, h3, h4, h5, h6
{
    font: var(--font_title);
    color: var(--color_gray_800);
}

h1
{
    font-size: 2rem;
}

h2
{
    font-size: 1.5rem;
}

a, button
{
    cursor: pointer;
}